
{% extends 'adm_navbar.html' %}
{% block content %}

    <!-- HEADER SECTION -->
    <header id="header" class="header w-100">
        <div class="header__top w-100">
            <img src="https://res.cloudinary.com/osdev/image/upload/v1581541390/xand/indian_e748ja.jpg"
                alt="xand-hero-background" id="header-img">
            <span class="header__top-text text-center">
                Una vez más, bienvenido(a) a bordo a esta emocionante aventura culinaria. 
                ¡Vamos a cocinar con pasión y maravillar con nuestras creaciones!


            </span>
        </div>
    </header>
        

{% endblock %}