
    {% extends 'adm_navbar.html' %}
    {% block content %}

    <div class="cotn_principal">
        <div class="cont_centrar">
            <div class="container">
                <div class="row justify-content-center mt-5">
                    <div class="col-12">
                        <table class="table  table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Fecha Pedido</th>
                                    <th scope="col">Nombre Cliente</th>
                                    <th scope="col">Total Pedido</th>
                                    <th scope="col">Estatus Pedido</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>2023-06-01</td>
                                    <td>Juan Perez</td>
                                    <td>$15.99</td>
                                    <td>Pendiente</td>
                                </tr>
                                <tr>
                                    <td>2023-06-02</td>
                                    <td>Maria Lopez</td>
                                    <td>$8.49</td>
                                    <td>Entregado</td>
                                </tr>
                                <tr>
                                    <td>2023-06-03</td>
                                    <td>Carlos Sanchez</td>
                                    <td>$12.99</td>
                                    <td>En proceso</td>
                                </tr>
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
