{% extends 'usr_navbar.html' %}
{% block content %}
    <section class="contenedor">
        <!-- Contenedor de elementos -->
        <div class="contenedor-items">
            {% for producto in productos %}
            <div class="item">
                <span class="titulo-item">{{ producto[0] }}</span>
                <img src="img/middlesteel.png" alt="" class="img-item">
                <span class="precio-item">${{ producto[2] }}</span>
                <button class="boton-item">Agregar al Carrito</button>
            </div>
            {% endfor %}
        </div>
        <!-- Carrito de Compras -->
        <div class="carrito" id="carrito">
            <div class="header-carrito">
                <h2> <i class="bi bi-cart-fill"></i> Orden actual</h2>
            </div>

            <div class="carrito-items">
            </div>
            <div class="carrito-total">
                <div class="fila">
                    <strong>Total</strong>
                    <span class="carrito-precio-total">
                    </span>
                </div>
                <button class="btn-pagar"> <i class="bi bi-credit-card-fill"></i> Pagar </button>
            </div>
        </div>
    </section>

    <script type="text/javascript" src="{{ url_for('static', filename='script/app.js') }}"></script>
{% endblock %}